# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
# Игнорируем файл .env
.env
# Но .env.example отслеживаем
!.env.example
*.log
.DS_Store
model/saiga_llama3_8b.Q3_K_L.gguf.download/saiga_llama3_8b.Q3_K_L.gguf
